<%# recurly_transparent_form_for(@subscription) %>

<h1>Subscribe Now</h1>

<%= form_for @subscription, :as => :subscription, :url => Recurly::Transparent.create_subscription_url, :html => {:method => :post} do |f| %>
  <%= f.error_messages %>

  <%= @transparent.hidden_field %>

  <%= f.label :quantity %>
  <%= f.text_field :quantity %>

  <fieldset>
    <legend>Account Info</legend>

    <%= fields_for :account, @subscription.account do |a| %>
      <%= a.label :first_name %>
      <%= a.text_field :first_name %>

      <%= a.label :last_name  %>
      <%= a.text_field :last_name %>

      <%= a.label :email  %>
      <%= a.text_field :email %>

      <%= a.label :company_name  %>
      <%= a.text_field :company_name %>
    <% end %>
  </fieldset>

  <fieldset class="billing_info">
    <legend>Billing Info</legend>

    <%= fields_for :billing_info, @subscription.account.billing_info do |b| %>

      <%= b.label :first_name  %>
      <%= b.text_field :first_name %>

      <%= b.label :last_name  %>
      <%= b.text_field :last_name %>

      <%= b.label :address1  %>
      <%= b.text_field :address1 %>

      <%= b.label :address2  %>
      <%= b.text_field :address2 %>

      <%= b.label :city  %>
      <%= b.text_field :city %>

      <%= b.label :state  %>
      <%= b.text_field :state %>

      <%= b.label :zip  %>
      <%= b.text_field :zip %>

      <%= b.label :country  %>
      <%= b.text_field :country %>
  </fieldset>

    <fieldset>
      <legend>Credit Card</legend>

      <%= b.fields_for :credit_card, @subscription.account.billing_info.credit_card do |c| %>
  
        <div class="card_number">
          <%= c.label :number  %>
          <%= c.text_field :number, :maxlength => 22 %>
        </div>

        <div class="card_verification">
          <%= c.label :verification_value  %>
          <%= c.text_field :verification_value, :maxlength => 4 %>
        </div>

        <%= c.label :month  %>
        <%= c.text_field :month %>

        <%= c.label :year  %>
        <%= c.text_field :year %>
      <% end %>
    </fieldset>
  <% end %>

  <%= submit_tag "Submit" %>

<% end %>

