
<%= form_for @transaction, :as => :transaction, :url => Recurly::Transparent.create_transaction_url, :html => {:method => :post} do |f| %>
  <h1>Buy now</h1>

  <%= @transparent.hidden_field %>

  <h2>Account Info</h2>
  <%= fields_for :account, @transaction.account do |a| %>
    <div class="field">
      <%= a.label :username  %>
      <%= a.text_field :username %>
    </div>

    <div class="field">
      <%= a.label :first_name  %>
      <%= a.text_field :first_name %>
    </div>

    <div class="field">
      <%= a.label :last_name  %>
      <%= a.text_field :last_name %>
    </div>

    <div class="field">
      <%= a.label :email  %>
      <%= a.text_field :email %>
    </div>

    <div class="field">
      <%= a.label :company_name  %>
      <%= a.text_field :company_name %>
    </div>

  <% end %>

  <h2>Billing Info</h2>
  <%= fields_for :billing_info, @transaction.account.billing_info do |b| %>
    <div class="field">
      <%= b.label :first_name  %>
      <%= b.text_field :first_name %>
    </div>

    <div class="field">
      <%= b.label :last_name  %>
      <%= b.text_field :last_name %>
    </div>

    <div class="field">
      <%= b.label :address1  %>
      <%= b.text_field :address1 %>
    </div>

    <div class="field">
      <%= b.label :address2  %>
      <%= b.text_field :address2 %>
    </div>

    <div class="field">
      <%= b.label :city  %>
      <%= b.text_field :city %>
    </div>

    <div class="field">
      <%= b.label :state  %>
      <%= b.text_field :state %>
    </div>

    <div class="field">
      <%= b.label :zip  %>
      <%= b.text_field :zip %>
    </div>

    <div class="field">
      <%= b.label :country  %>
      <%= b.text_field :country %>
    </div>

  <% end %>

  <h2>Credit Card</h2>
  <%= fields_for :credit_card, @transaction.account.billing_info.credit_card do |c| %>
    <div class="field">
      <%= c.label :number  %>
      <%= c.text_field :number %>
    </div>

    <div class="field">
      <%= c.label :verification_value  %>
      <%= c.text_field :verification_value %>
    </div>

    <div class="field">
      <%= c.label :month  %>
      <%= c.text_field :month %>
    </div>

    <div class="field">
      <%= c.label :year  %>
      <%= c.text_field :year %>
    </div>
  <% end %>


  <%= submit_tag "Submit" %>

<% end %>