<%= form_for @billing_info, :as => :billing_info, :url => Recurly::Transparent.update_billing_url, :html => {:method => :post, :class => 'recurly_payment'} do |f| %>
  <%= @transparent.hidden_field %>

  <h2>Update Billing Info</h2>
  
  <%= render :partial => 'errors', :locals => { :object => f.object } %>

  <fieldset class="billing">
    <legend>Billing Info</legend>
    
    <div class="accepted_cards">
      <%= image_tag 'credit_cards/amex.png', :alt => 'American Express' %>
      <%= image_tag 'credit_cards/discover.png', :alt => 'Discover' %>
      <%= image_tag 'credit_cards/mastercard.png', :alt => 'MasterCard' %>
      <%= image_tag 'credit_cards/visa.png', :alt => 'Visa' %>
    </div>

    <ul>
      <li class="first_name">
        <%= f.label :first_name  %>
        <%= f.text_field :first_name %>
      </li>
      <li class="last_name">
        <%= f.label :last_name  %>
        <%= f.text_field :last_name %>
      </li>
      
      <%= f.fields_for :credit_card, @billing_info.credit_card do |c| %>
      
      <%= render :partial => 'errors', :locals => { :object => c.object } %>

      <ul class="credit_card">
        <li class="card_number">
          <%= c.label :number, 'Credit Card Number'  %>
          <%= c.text_field :number, :maxlength => 22, :class => 'required creditcard' %>
        </li>

        <li class="cvv">
          <%= c.label :verification_value, 'CVV'  %>
          <%= c.text_field :verification_value, :maxlength => 4 %>
        </li>

        <li class="expires">
          <%= c.label :month, 'Expires:' %>
          <%= c.select :month,  1..12 %><%= c.select :year, Time.now.year..(Time.now.year + 10) %>
        </li>

      </ul>
      <% end %>

      <ul class="address">
        <li>
          <%= f.label :address1, "Address" %>
          <%= f.text_field :address1, :placeholder => '123 Example St' %>
        </li>
        <li>
          <%= f.label :address2, "Address Line 2" %>
          <%= f.text_field :address2, :placeholder => 'Apt, Suite' %>
        </li>
        <li class="city">
          <%= f.label :city %>
          <%= f.text_field :city %>
        </li>
        <li class="state">
          <%= f.label :state %>
          <%= f.text_field :state %>
        </li>
        <li class="zip">
          <%= f.label :zip %>
          <%= f.text_field :zip %>
        </li>
        <li class="country">
          <%= f.label :country %>
          <%= f.country_select(:country, [], :class => 'country', :include_blank => true) %>
        </li>
      </ul>
    </ul>
  </fieldset>

  <button type="submit" autocomplete="off">Subscribe</button>

<% end %>
