<!DOCTYPE html>
<html>
<head>
  <title>TestTransparent</title>
  <%= stylesheet_link_tag 'reset' %>
  <%= stylesheet_link_tag 'master' %>
  <%= stylesheet_link_tag 'payment' %>
  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'jquery.validate' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>

<body>
  
<nav>
  <h1>Examples:</h1>
  <ol>
    <li><%= link_to 'Create Subscription', create_subscription_path %></li>
    <li><%= link_to 'Create Transaction', create_transaction_path %></li>
    <li><%= link_to 'Update Billing', update_billing_path %></li>
  </ol>
</nav>

<%= yield %>

<div style="clear:both;"></div>
</body>

</html>



